{% extends "base.html" %}

{% block title %}Phones | GadgetCarnival{% endblock %}

{% block content %}

<!-- PAGE BANNER -->
<section class="max-w-7xl mx-auto px-4 py-6">
    <div class="rounded-2xl bg-gradient-to-r from-amber-700 to-amber-400
                flex items-center justify-between px-8 py-10">
        <h1 class="text-4xl font-extrabold text-white">
            Phones
        </h1>
        <i class="fas fa-mobile-alt text-white text-6xl opacity-40"></i>
    </div>
</section>
 {% include 'brands/brands.html' %}


<!-- FILTER + PRODUCTS -->
<section class="max-w-7xl mx-auto px-4 py-12 grid grid-cols-1 lg:grid-cols-12 gap-8">

    <!-- LEFT FILTER -->
    <aside class="lg:col-span-3">
        {% include "partials/filter_sidebar.html" %}
    </aside>

    <!-- RIGHT PRODUCTS -->
    <div class="lg:col-span-9">
        {% include "partials/product_grid.html" %}
    </div>

</section>

{% endblock %}
